<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114412633-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114412633-1');
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Invitation | Flying J Wedding</title>
  <link rel="icon" 
  type="image/png" 
  href="logo-favicon.ico">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="../public/css/template-style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKGPVXP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <nav class="light-tan" role="navigation">
      <div class="nav-wrapper light-tan container">
        <a id="logo-container" href="#" class="brand-logo"><img src="images/Flying-J-Stand-Alone_Logo.png" alt="Flying J Wedding"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="index.html#venue">Venue</a></li>
          <li><a href="index.html#travel">Travel</a></li>
          <li><a href="index.html#rsvp">RSVP</a></li>
          <li><a href="index.html#gifts">Gifts</a></li>
        </ul>

        <ul id="nav-mobile" class="light-tan side-nav">
          <li><a href="index.html#venue">Venue</a></li>
          <li><a href="index.html#travel">Travel</a></li>
          <li><a href="index.html#rsvp">RSVP</a></li>
          <li><a href="index.html#gifts">Gifts</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <main class="taupe">
      <section>
        <div class="section container">
          <div class="row center">
            <div class="col s12">
              <img class="responsive-img z-depth-2" src="../public/images/wedding-invitation-03.png" alt="invitation">
            </div>
          </div>
          <div class="row center">
            <div class="col s12">

              <p>Please reply by March 24, 2018</p>

              <a class="btn-flat btn-large" href="rsvp?party={{partyId}}&guest={{guestId}}">RSVP</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="page-footer taupe">
      <div class="footer-copyright">
        <div class="container">
         <p>Created by the Flying Js</p>
       </div>
     </div>
   </footer>

 <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 <script>
  (function($){
    $(function(){

      $('.button-collapse').sideNav({
        closeOnClick:true,
        draggable: true,
      });

  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>


</body>
</html>