<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RSVP Summary</title>
        <meta name="description" content="RSVP summary for the wedding of Jenny Rosenberger and Jesse Kelly.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <p>This page is shown for parties that have already submitted an RSVP</p>
        <p>Guest attendance within the party will be shown, and users will have the opportunity to click 'Edit' to modify their RSVP.</p>
        <p>Clicking 'Edit' will redirect users to either the RSVP form or the ridesharing form.</p>
    </body>
</html>
